
@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<section class="orders-page">
    <h2 class="title">Quản lý đơn hàng</h2>
    <div class="breadcrumb">
        <ul class="breadcrumb-list d-flex">
            <li class="breadcrumb-item">
                <a href="/admin">Admin</a>
            </li>
            <li class="breadcrumb-item">
                Quản lý đơn hàng
            </li>
        </ul>
    </div>
    <div class="orders-page-main mb-4">
        <div class="action-box orders-action d-flex flex-wrap">
            <button class="add-order-btn">
                <i class="fa-regular fa-square-plus action-btn-icon"></i>
                Thêm
            </button>
            <div class="orders-action-notice"></div>
        </div>
        <div class="orders-page-content mt-3">
            <div class="orders-search-wrapper d-flex flex-wrap align-items-center justify-content-between gap-2">
                <form action="#" method="post" class="search-orders d-flex">
                    <div class="search-by">
                        <div class="dropdown-search position-relative">
                            <div class="dropdown-search-main d-flex align-items-center justify-content-between">
                                <span class="dropdown-search-selected" data-search="order-id">Mã đơn hàng</span>
                                <i class="fa-solid fa-chevron-down ms-2"></i>
                            </div>
                            <div class="dropdown-search-list">
                                <ul>
                                    <li class="order-search-value" data-search-select="order-id">Mã đơn hàng</li>
                                    <li class="order-search-value" data-search-select="customer-phone">SĐT khách hàng</li>
                                    <li class="order-search-value" data-search-select="customer-name">Tên khách hàng</li>
                                    <li class="order-search-value" data-search-select="order-date">Ngày/tháng/năm</li>
                                    <li class="order-search-value" data-search-select="order-month">Tháng/năm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="text" id="search-orders" name="search-orders" placeholder="Tìm kiếm" required autocomplete="off" />
                    <button type="submit" class="submit-orders-search">
                        <i class='bx bx-search'></i>
                    </button>
                </form>
                <button class="page-btn get-all-order">Tất cả đơn hàng</button>
            </div>

            <div class="order-list">
                <table class="table">
                    <tr>
                        <th>Mã ĐH</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt</th>
                        <th>Tổng tiền</th>
                        <th>H.thức thanh toán</th>
                        <th>Trạng thái thanh toán</th>
                        <th></th>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</section>