<div class="sidebar">
    <ul class="megamenu">
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="/collections/laptop" class="megamenu-link">
                    <i class="fa-solid fa-laptop megamenu-icon"></i>
                    Laptop
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop" class="megamenu-item-title">Thương hiệu</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=brand&filter=asus">ASUS</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=brand&filter=acer">ACER</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=brand&filter=msi">MSI</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=brand&filter=lenovo">LENOVO</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=brand&filter=hp">HP</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=brand&filter=dell">DELL</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=brand&filter=lg">LG</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop" class="megamenu-item-title">Giá bán</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=price&filter=duoi-15-trieu">Dưới 15 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=price&filter=tu-15-den-20-trieu">Từ 15 đến 20 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=price&filter=tu-20-den-25trieu">Từ 20 đến 25 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="/collections/laptop?filtertype=price&filter=tren-25-trieu">Trên 25 triệu</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop" class="megamenu-item-title">CPU Intel - AMD</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Core i3</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Core i5</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Core i7</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD Ryzen</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop" class="megamenu-item-title">Nhu cầu sử dụng</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Đồ họa - Studio</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Học sinh - Sinh viên</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Mỏng nhẹ cao cấp</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Linh kiện Laptop</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM Laptop</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">SSD Laptop</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Ổ cứng di động</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop?filtertype=brand&filter=asus" class="megamenu-item-title">Laptop ASUS</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">ASUS OLED Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Vivobook Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Zenbook Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Zenbook Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">ProArt Studiobook Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop?filtertype=brand&filter=acer" class="megamenu-item-title">Laptop ACER</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Aspire Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Swift Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop?filtertype=brand&filter=lenovo" class="megamenu-item-title">Laptop LENOVO</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">IdeaPad Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Thinkbook Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">ThinkPad Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Yoga Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop?filtertype=brand&filter=dell" class="megamenu-item-title">Laptop DELL</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Inspiron Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Vostro Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Latitude Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">XPS Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop?filtertype=brand&filter=msi" class="megamenu-item-title">Laptop MSI</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Modern Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Prestige Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Summit Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Creator Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="/collections/laptop?filtertype=brand&filter=hp" class="megamenu-item-title">Laptop HP</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Pavilion Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Envy Series</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-laptop megamenu-icon"></i>
                    Laptop Gaming
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Thương hiệu</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">ASUS / ROG</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">ACER / PREDATOR</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">MSI</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">LENOVO / LEGION</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">GIGABYTE / AORUS</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">HP</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">DELL</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Giá bán</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Dưới 20 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Từ 20 đến 25 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Từ 25 đến 30 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Trên 30 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Gaming cao cấp</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Card đồ họa</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">GTX Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 3050 / 3050Ti</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 3060</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 3070 / 3080</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 40 Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD Radeon RX</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">ASUS | ROG</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">TUF Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">ROG Strix Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">ROG Flow Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">ROG Zephyrus Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">ROG Ally</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">TUF RTX 40 Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">ROG RTX 40 Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">ACER | PREDATOR</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Aspire Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Nitro Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Predator Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Nitro RTX 40 Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Predator RTX 40 Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">MSI Gaming</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">GF Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">GS Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">GE / GT Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Creator Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">MSI AMD Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">MSI RTX 40 Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">LENOVO Gaming</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Legion Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">IdeaPad Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">LENOVO RTX 40 Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">GIGABYTE Gaming</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">G5 / G7 Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AORUS Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AERO Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">GIGABYTE RTX 40 Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">DELL Gaming</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Gaming G Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Alienware Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">DELL RTX 40 Series</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Linh kiện Laptop</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM Laptop</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">SSD Laptop</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Ổ cứng di động</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-microchip megamenu-icon"></i>
                    Linh Kiện PC
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">CPU Intel</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Core i3</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Core i5</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Core i7</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Core i9</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Xeon</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">CPU AMD</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD Ryzen 3</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD Ryzen 5</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD Ryzen 7</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD Ryzen 9</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD Threadripper</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">VGA - Card đồ họa</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">GT Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">GTX Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 20 Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 30 Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 40 Series</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD Radeon RX</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">VGA - Card đồ họa</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 4060</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 4060Ti</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 4070</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 4070Ti</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 4080</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RTX 4090</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Bo mạch chủ Intel</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel H510</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel H610</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel B660</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel B760</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Z690</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel Z790</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Intel X299X</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Bo mạch chủ AMD</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD A320</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD B550</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD B650</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD X570</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD X670</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">AMD TRX40</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Tản nhiệt - Fan RGB</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Tản nhiệt khí</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Tản nhiệt AIO 240mm</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Tản nhiệt AIO 240mm</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Tản nhiệt AIO 280mm</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Tản nhiệt AIO 360mm</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Tản nhiệt AIO 420mm</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Fan RGB</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">CASE - Vỏ máy tính</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Case dưới 1 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Case từ 1 đến 2 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Case trên 2 triệu</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Case Corsair</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Case NZXT</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Case Thermaltake</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Case InWin</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Case Lian Li</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">PSU - Nguồn máy tính</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Nguồn 300 - 500W</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Nguồn 550 - 650W</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Nguồn 700 - 850W</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Nguồn trên 1000W</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-memory megamenu-icon"></i>
                    Bộ Nhớ Lưu Trữ
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">RAM DDR4</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM Led RGB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 8GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 16GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 32GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 64GB</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">RAM DDR5</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM Led RGB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 8GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 16GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 32GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 64GB</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">RAM Laptop</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM DDR4</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM DDR5</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 8GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 16GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">RAM 32GB</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">SSD</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">SSD 256GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">SSD 512GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">SSD 1TB - 2TB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">SSD NVMe Gen 3</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">SSD NVMe Gen 4</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">HDD</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">HDD 512GB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">HDD 1TB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">HDD 2TB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">HDD 4TB - 8TB</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">HDD Laptop</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-computer megamenu-icon"></i>
                    PC Gaming
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">STEK Zeus - Core i9</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Zeus i4090</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Zeus i4080</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Zeus i4070Ti</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Zeus i3090</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Zeus i3080</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">STEK Poseidon - Core i7</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Poseidon i4070</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Poseidon i4060</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Poseidon i3070</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Poseidon i3060Ti</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Poseidon i3060</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">STEK Athena - Core i5</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Athena i4070</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Athena i4060</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Athena i3070</a>
                        </li>

                        <li class="megamenu-item-list-link">
                            <a href="#">Athena i3060</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">STEK Apollo - Ryzen 9</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Apollo r4080</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Apollo r4070</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Apollo r3080</a>
                        </li>

                        <li class="megamenu-item-list-link">
                            <a href="#">Apollo r3060</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">STEK Atermis - Ryzen 7</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Atermis r4070</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Atermis r4060</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Atermis r3070</a>
                        </li>

                        <li class="megamenu-item-list-link">
                            <a href="#">Atermis r3060</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">STEK Ares - Ryzen 5</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Ares r4060</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Ares r3070</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Ares r3060</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-computer megamenu-icon"></i>
                    PC Làm Việc
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <a href="#" class="megamenu-item-title">Đang cập nhật...</a>
                    <ul class="megamenu-item-list">
                       
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-brands fa-apple megamenu-icon"></i>
                    Apple
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Macbook</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">MacBook Air</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">MacBook Pro</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Macbook Air</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">MacBook Air M1</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">MacBook Air M2</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Macbook Pro</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">MacBook Pro 13</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">MacBook Pro 14</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">MacBook Pro 16</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">iMac</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">iMac M1 24"</a>
                        </li>
                    </ul>
                </div>
                <div class="megamenu-content-item">
                    <div class="sub-megamenu-box d-flex align-items-center justify-content-between">
                        <a href="#" class="megamenu-item-title">Mac Mini</a>
                        <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
                    </div>
                    <ul class="megamenu-item-list">
                        <li class="megamenu-item-list-link">
                            <a href="#">Mac Mini M1</a>
                        </li>
                        <li class="megamenu-item-list-link">
                            <a href="#">Mac Mini M2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-tv megamenu-icon"></i>
                    Màn Hình
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <a href="#" class="megamenu-item-title">Đang cập nhật...</a>
                    <ul class="megamenu-item-list">
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-keyboard megamenu-icon"></i>
                    Bàn Phím
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <a href="#" class="megamenu-item-title">Đang cập nhật...</a>
                    <ul class="megamenu-item-list">
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-computer-mouse megamenu-icon"></i>
                    Chuột - Lót Chuột
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <a href="#" class="megamenu-item-title">Đang cập nhật...</a>
                    <ul class="megamenu-item-list">
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-headphones megamenu-icon"></i>
                    Tai Nghe - Loa
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <a href="#" class="megamenu-item-title">Đang cập nhật...</a>
                    <ul class="megamenu-item-list">
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-gamepad megamenu-icon"></i>
                    Phụ Kiện
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <a href="#" class="megamenu-item-title">Đang cập nhật...</a>
                    <ul class="megamenu-item-list">
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-wifi megamenu-icon"></i>
                    Phần Mềm & Mạng
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <a href="#" class="megamenu-item-title">Đang cập nhật...</a>
                    <ul class="megamenu-item-list">
                    </ul>
                </div>
            </div>
        </li>
        <li class="megamenu-item">
            <div class="megamenu-item-box">
                <a href="#" class="megamenu-link">
                    <i class="fa-solid fa-bag-shopping megamenu-icon"></i>
                    GroupBuy - Đặt Trước
                </a>
                <i class="fa-solid fa-chevron-right megamenu-chevron"></i>
            </div>
            <div class="megamenu-content">
                <div class="megamenu-content-item">
                    <a href="#" class="megamenu-item-title">Đang cập nhật...</a>
                    <ul class="megamenu-item-list">
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
