@{
    ViewBag.Title = "Thanh toán đơn hàng - STech";
}

@model dynamic

<section class="checkout-notice-wrapper">
    <div class="checkout-notice"></div>
</section>

<section class="cart-wrapper">
    <div class="container-fluid">
        <div class="breadcrumb-cart">
            <a href="/collections/all">
                <i class="fa-solid fa-chevron-left"></i>
                <span>Mua thêm sản phẩm khác</span>
            </a>
        </div>
        <div class="cart-main">

            <div class="checkout-steplist">
                <div class="checkout-step step-1 step-active">
                    <i class='bx bxs-shopping-bag-alt step-icon'></i>
                    <span class="step-text">Giỏ hàng</span>
                </div>
                <div class="checkout-step step-2 step-active">
                    <i class='bx bxs-id-card step-icon'></i>
                    <span class="step-text">Thông tin đặt hàng</span>
                </div>
                <div class="checkout-step step-3 step-active">
                    <i class='bx bxs-credit-card step-icon'></i>
                    <span class="step-text">Thanh toán</span>
                </div>
                <div class="checkout-step step-4">
                    <i class='bx bxs-check-shield step-icon'></i>
                    <span class="step-text">Hoàn tất</span>
                </div>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="cart-info d-none" id="cart-success-box">
                    <div class="cart-success-wrapper">
                        <div class="cart-success-box d-flex flex-column align-items-center gap-2">
                            <i class='bx bxs-check-circle bx-tada success-icon'></i>
                            <span>Thanh toán thành công !</span>
                            <span>Cảm ơn bạn đã ủng hộ chúng tôi</span>
                            <button class="to-home-page-btn" onclick="window.location.href='/collections/all'">
                                TIẾP TỤC MUA HÀNG
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>