
@{
    ViewBag.Title = "Quản lý sản phẩm";
}

<div class="products">
    <h2 class="title">Sản phẩm</h2>
    <div class="breadcrumb">
        <ul class="breadcrumb-list d-flex">
            <li class="breadcrumb-item">
                <a href="/admin">Admin</a>
            </li>
            <li class="breadcrumb-item">
                Sản phẩm
            </li>
        </ul>
    </div>

    <div class="products-content">
        <div class="action-box products-action d-flex">
            <button class="add-product-btn">Thêm</button>
            <button class="delete-product-btn">Xóa</button>
            <button class="update-product-btn">Sửa</button>
            <div class="products-action-notice"></div>
        </div>

        <div class="products-content-box">
            <div class="product-content-header">
                <form action="#" method="post" class="search-products">
                    <input type="text" id="search" name="search" placeholder="Tìm kiếm sản phẩm" />

                </form>
            </div>
        </div>

    </div>
</div>
